.coming-soon {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}

body {
  color: #fff;
  background-color: rgb(134, 134, 134);
  background-image: url('/river.jpg'), url('/river-low-res.jpg');
  background-repeat: none;
  background-size: cover;
  text-align: center;
  background-blend-mode: multiply;
}
